/Users/igoruchnast/Documents/PW/PBL5/FLASK_SERVER/test/api_key.py
/Users/igoruchnast/Documents/PW/PBL5/FLASK_SERVER/test/dupa.py
/Users/igoruchnast/Documents/PW/PBL5/FLASK_SERVER/test/flask_server.py
/Users/igoruchnast/Documents/PW/PBL5/FLASK_SERVER/test/main.py
/Users/igoruchnast/Documents/PW/PBL5/FLASK_SERVER/test/test.py